<%= form_with(model: send_email, :html => {:id => 'email-form' }) do |form| %>
  <% if send_email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(send_email.errors.count, "error") %> prohibited this send_email from being saved:</h2>

      <ul>
      <% send_email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Email %>
    <%= form.text_field :Email, :class=>"w-100", :autofocus=>true, :placeholder=>"example@gmail.com", :id=>"email"  %>
  </div>

  <div class="field">
    <%= form.label :Message %>
    <%= form.text_area :Message, :autofocus=>true, :placeholder=>"Dear John Doe...", :id=>"message" %>
  </div>

  <div class="actions">
     <%= form.submit value:"Send Email", id:"submit-button" %>
        <div id="sendgridResponse"> </div>
     <p id="notice"><%= notice %></p>
  </div>
<% end %>
