<p id="notice"><%= notice %></p>

<h1>Send Emails</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @send_emails.each do |send_email| %>
      <tr>
        <td><%= send_email.Email %></td>
        <td><%= send_email.Message %></td>
        <td><%= link_to 'Show', send_email %></td>
        <td><%= link_to 'Edit', edit_send_email_path(send_email) %></td>
        <td><%= link_to 'Destroy', send_email, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Send Email', new_send_email_path %>
