<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @send_email.Email %>
</p>

<p>
  <strong>Message:</strong>
  <%= @send_email.Message %>
</p>

<%= link_to 'Edit', edit_send_email_path(@send_email) %> |
<%= link_to 'Back', send_emails_path %>
