<p id="notice"><%= notice %></p>

<h1>Send Messages</h1>

<table>
  <thead>
    <tr>
      <th>Phonenumber</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @send_messages.each do |send_message| %>
      <tr>
        <td><%= send_message.PhoneNumber %></td>
        <td><%= send_message.Message %></td>
        <td><%= link_to 'Show', send_message %></td>
        <td><%= link_to 'Edit', edit_send_message_path(send_message) %></td>
        <td><%= link_to 'Destroy', send_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Send Message', new_send_message_path %>
